*.html linguist-detectable=false
*.cpp linguist-detectable=false
*.cmake.in linguist-detectable=false
*.idc linguist-detectable=false
*.swift linguist-detectable=false
*.kt linguist-detectable=false
*.m linguist-detectable=false
*.dart linguist-detectable=true
